* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #000000;
}

main{
    background-color: #000000;
}

.encabezadoJuego{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 80px;
}

.encabezadoJuegoContainer{
    display: flex;
    justify-content: center;
    width: 70%;
}

.descripcionJuegoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #007AFF;
}

.infoJuegoContainer{
    display: flex;
    align-items: center;
}


.breadcrumbs {
    margin-right: 65px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #007AFF;
}

.thumbnail {
    height: 56.26px;
    width: 90.86px;
    margin-right: 15px;
}

.navigation h1 {
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    color: #007AFF;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stars {
    font-size: 19px;
    color: gold;
    text-align: center;
    align-items: center;
    margin-right: 63px;
}

.starGray{
    color: gray;
    padding: 0 2px;
}

.votes {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

.like-dislike {
    display: flex;
    align-items: center;
}

.like-dislike img {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.juego{
    height: 512px;
    background-color: #C6C6C1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-image {
    text-align: center;
    width: 1096px;
    height: 391px;
    overflow: hidden;
    margin-bottom: 40px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.loading-bar {
    width: 400px;
    height: 18px;
    background-color: #d3d3d3;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.loading-bar::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: white;
    animation: loadingAnimation 8s linear forwards;
    border-radius: 15px;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

@keyframes loadingAnimation {
    0% { width: 0%; }
    100% { width: 100%; }
}

.informacionGeneralContainer{
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 40px 0 10px 0;
}

.informacionGeneralContainer p{
    font-size: 14px;
}

.comoJugarContainer {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 67%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
}

.comoJugarTitulo h2{
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
}


.especificacionesJuegoContainer {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.especificacionesJuegoContainer h2{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.especificacionesJuegoContainer li{
    font-size: 12px;
    font-weight: 400;
    color: #c9c9c9;
}

.icon {
    font-size: 30px;
    margin-bottom: 10px;
}


p, ul {
    line-height: 22px;
}

ul {
    list-style-type: none;
}

.comoJugarTitulo{
    display: flex;
    align-items: center;
}

.comoJugarTitulo img {
    width: 47px;
    height: 42px;
    cursor: pointer;
    margin-right: 15px;
}

.link{
    color: #26BBFF;
    text-decoration: underline;
}

#txtVerMas {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    color: #26BBFF;
    text-decoration: underline;
    margin-right: 30px;
}

.textoConVerMas {
    position: relative;
    margin-top: 20px;
}

.textoConVerMas p{
    font-size: 14px;
    font-style: normal;
}

.especificacionesJuegoContainer ul li span {
    font-weight: bold;
    color: white;
}

#tituloJuegoEspecificaciones{
    margin-bottom: 25px;
}

.contenidoRelacionadoContainer{
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px 0 40px 0;
    height: 295px;
}

.contenidoVisualContainer {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 67%;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoRelacionadoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 27%;
    margin-top: 50px;
}

.videoRelacionadoContainer h4{
    font-size: 11px;
    margin-top: 10px;
    font-weight: 400;
    font-style: normal
}

.videoRelacionado {
    width: 205px;
    height: 129px;
    border-radius: 10px;
    object-fit: cover;
    background-color: #000;
}

.imagenesRelacionadasContainer {
    display: flex;
    flex-direction: column;
    width: 73%;
    margin-left: 40px;
}

.tituloImagenes {
    font-size: 19px;
    text-align: start;
    font-weight: 400;
    font-style: normal;
}

.imagenesGrid {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.imagenesGrid img {
    width: 132px;
    height: 156px;
    border-radius: 10px;
    object-fit: cover;
}

.compartirEnRedesContainer {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redesSociales {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.redesSociales img {
    width: 40px;
    height: 40px;
}

.imagenesRelacionadasContainer img:last-child {
    margin-right: 0;
}

.compartirEnRedesContainer h3 {
    color: #fff;
    margin: 10px 0;
}

.compartirEnRedesContainer p {
    color: #d1d0d0;
    text-align: center;
    font-size: 14px;
}

.esrb-rating {
    margin-top: 10px;
    width: 35px;
    height: 50px;
}

.imagenesRelacionadasContainer {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.contenedor{
    background-color: #000000;
    padding-bottom: 20px;
}

.contenedor p, .contenedor ul{
    line-height: normal;
}


.comentariosContainer{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 93%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.comentariosBoxContainer{
    width: 60%;
}

.headerComentarios {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.headerComentarios h1 {
    font-size: 25px;
}

textarea::placeholder {
    color: #000000;
    opacity: 1;
}

input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.iconComentario {
    width: 68px;
    height: 57;
    margin-right: 10px;
}

.verMasComentarios {
    color: #007BFF;
    font-size: 19px;

}

.boxComentarios .login-warning {
    color: #888;
    font-size: 12px;
    text-align: right;
}

.comentario{
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.infoUsuario{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.contenidoComentario {
    margin-left: 10px;
    text-align: start;
    width: 100%;
    
}

.contenidoComentario p {
    margin-bottom: 23px;
    font-size: 14px;
}

.contenidoComentario textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    line-height: 1; /* Control de la altura de la línea */
    padding: 15px 15px 0px 15px;
}

.contenidoComentario .date {
    font-size: 12px;
    color: #888;
    text-align: start;
}

.verMasComentariosContainer{
    display: flex;
    justify-content: end;
}

.invisible{
    display: none;
}

/*----------------------------------------------------------------------*/

#juego{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgroundJuegoSonic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.canvas{
    position: relative;
}

.fino{
    margin-top: 2%;
}

.oculto-btn{
    display: none;
}


.boton-de-reinicio{
    display: block;
    margin-left: 15px;
}

.opciones{
    display: flex;
    justify-content: space-around;
}

.modal-container-juego {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);  /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content-juego {
    background-color: #fff;
    padding: 40px 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3s ease-out;
}

/* Animación para que el modal aparezca suavemente */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-button-juego {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.modal-button-juego:hover {
    background-color: #45a049;
}

/* Clase para ocultar el modal */
.oculto {
    display: none;
}

/* Contenedor principal de las opciones */
.opciones {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 560px;
}

.opciones h2 {
    font-size: 1.5rem;
    color: #4a90e2;
    margin-bottom: 10px;
}

.oculto-btn button {
    background-color: #d9534f;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.oculto-btn button:hover {
    background-color: #c9302c;
}

/* Contenedor de los selectores y botón de jugar */
.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.botones select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
}

/* Botón de jugar */
.botones button#play {
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones button#play:hover {
    background-color: #357ab8;
}

.modificacionesTurno {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 15px 25px; /* Espaciado interno */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    font-size: 1.5rem; /* Tamaño del texto */
    color: black; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    position: absolute; /* Posicionamiento absoluto para centrar */
    top: 94%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-10%, -10%); /* Centrar usando transform */
    animation: latido 1s infinite; /* Aplicar la animación de latido */
}

@keyframes latido {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1); /* Sin escala */
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1); /* Escalar al 110% */
    }
}

.modificacionesTiempo{
    margin-top: 15px;
    color: white;
}


.invisible{
    display: none;
}
