/* Estilos generales */
body {
    background-color: #101014;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

label {
    color: #fff;
    font-size: 14px;
    text-align: left;
    display: block;  
    width: 90%;      
    margin-left: 5%; 
    margin-top: 5px ; 
}

.captcha img{
    height: 45px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    height: 70px;
    width: auto;
}

.ini{
    background-color: #5a5a5a;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.ini:hover {
    background-color: #4d4d4d;
}

form p{
    color: #fff;
}

form {
    background-color: #202020;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

label {
    color: #fff;
    font-size: 14px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0 15px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
    box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder {
    color: #aaa;
}

input[type="submit"] {
    width: 90%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.registrarse{
    display: flex;
    justify-content: center;
}

.captcha {
    text-align: center;
    margin: 20px 0;
}

.social-login {
    text-align: center;
    margin: 10px 0;
}

.continuar{
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
}

.palito{
    display: flex;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 15px;
}


.footer {
    padding-top: 20px;
    text-align: center;
    margin-top: 10px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.form-inicio{
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    padding-top: 30px;
}
